{% assign experiences = site.data.data.experiences %}
{% assign additional-experiences = site.data.data.additional-experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences.title }}
  </h2>

  {% for experience in experiences.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }}</div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

    <div class="projects">
    {% for project in experience.projects %}
      <i class="{{ project.icon }}"></i>
      <span class="project-title">
        {% if project.link %}
          <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
          {{ project.title }}
        {% endif %}
      </span>
      {% if project.role %}
        <div class="upper-row company">Role: {{ project.role }}</div>
      {% endif %}
      {% if project.tagline %}
        <div class="project-tagline">{{ project.tagline | markdownify }}</div>
      {% endif %}
    {% endfor %}
    </div>

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

{% if additional-experiences %}
<section class="section experiences-section">
  <h3 class="sub-section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-1x"></i>
    </span>
    Additional Experiences
  </h3>

  {% for experience in additional-experiences %}
  <div class="sub-item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }}</div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details }}
    </div><!--//details-->
    {% endif %}

    <div class="projects">
    {% for project in experience.projects %}
      <i class="{{ project.icon }}"></i>
      <span class="project-title">
        {% if project.link %}
          <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
          {{ project.title }}
        {% endif %}
      </span>
      {% if project.role %}
        <div class="upper-row company">Role: {{ project.role }}</div>
      {% endif %}
      {% if project.tagline %}
        <div class="project-tagline">{{ project.tagline | markdownify }}</div>
      {% endif %}
    {% endfor %}
    </div>

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
