@media print
   {
    @page {
        size: A4;
    }

    //remove URLs in in <a> tags
    a[href]:after {
      content: none !important;
    }

   //  body {
   //     font-size: 12pt;
   //  }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
        float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
    }
    .main-wrapper .section {
        margin-bottom: 30px;
    }
    .item {
        margin-bottom: 15px !important;
    }
    .sidebar-wrapper {
        -webkit-print-color-adjust: exact; 
        text-align: center;
        min-height: 1025px; //simulate page break
    }
    .section.experiences-section {
        min-height: 410px; //simulate page break
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

}