@media print
   {
    @page {
        size: A4;
    }

    //remove URLs in in <a> tags
    a[href]:after {
      content: none !important;
    }

   //  body {
   //     font-size: 12pt;
   //  }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
    .wrapper {
        display: block;
        flex-direction: inherit; //remove flex attributes
    }
   .main-wrapper {
        .time {
            float: right;
            color: black !important;
            -webkit-print-color-adjust: exact; 
        }
        .experiences-section {
            width: 100%;
        }
   }
    .item {
        margin-bottom: 20px !important;
    }
    .sidebar-wrapper {
        -webkit-print-color-adjust: exact; 
        text-align: center;
        display: inline-grid;
        width: 35%;
        border-right: 1px solid black;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS */
            width: 100%;
            border-right: none;
         }
        @supports (-ms-ime-align:auto) {
            /* Edge */
            width: 100%;
            border-right: none;
        }
    }
    .main-wrapper {
        display: contents; //allows free flow, not working in IE/edge
    }
    .main-wrapper section {
        display: inline-grid;
        page-break-after: always;

        &.summary-section {
            width: 60%;
            padding-left: 6px;
            
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                /* IE10+ CSS */
                padding-left: 0px;
                width: 100%;
             }
            @supports (-ms-ime-align:auto) {
                /* Edge */
                padding-left: 0px;
                width: 100%;
            }
        }
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

}