@media print
   {
    html, body {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
    }

    @page {
        size: A4;
    }

    //remove URLs in in <a> tags
    a[href]:after {
      content: none !important;
    }

    body {
       font-size: 11pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

    .wrapper {
        display: block;
        height: 297mm;
        // overflow-y: hidden;

        .sidebar-wrapper {
            display: inline-block;
            width: 20%;
            text-align: right;
            vertical-align: top;
            min-width: min-content;
            min-height: min-content;
            border-right: 1px solid black;
            height: 100%;
        }
        .main-wrapper {
            display: inline-block;
            width: calc(75% - 30px); // account for some spaces to fit
            height: 100%;
            padding: 10px;

            .section {
                padding-left: 6px;
                margin-bottom: 18px;

                .item {
                    margin-bottom: 10px;
                }
            }
    
            .time {
                // float: right;
                color: black !important;
            }
        }
    }

    .remove-container.container-block {
       display: none;
    }
    .print-show-container.container-block {
        display: inline-grid;
     }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
